@use "../../styles/partials/colors" as *;

.projects {
    padding-top: 6rem;
    margin: 0 1rem;
    height: 100vh;

    &__title {
        text-transform: uppercase;
        text-align: center;
        margin: 0 1rem 3rem 1rem;
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &__card {
        border: 1px solid black;
        padding: 0.75rem;
        margin: 0.5rem;
        background-color: $secondary-bg;
    }

    &__card--hidden {
        display: none;
    }

    &__subtitle {
        margin: 0;
    }

    &__description {
        margin: 0.5rem 0 1rem 0;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__tech {
        width: 50%;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        list-style: none;
    }

    &__item {
        width: 50%;
        text-align: center;
    }

    &__icons {
        display: flex;
        justify-content: space-evenly;
    }

    &__img {
        height: 6rem;
        width: 6rem;
        border: 1px solid black;
        align-self: flex-end;
    }
}