@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.projects {
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__header {
        min-height: 69.59px;
        width: 100%;
        background-color: pink;
        display: block;
        position: absolute;
        top: 0;

        @include tablet {
            min-height: 82.09px;
        }

        @include desktop {
            min-height: 86.59px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        // height: calc(100vh - 69.59px);

        @include tablet {
            // height: calc(100vh - 82.09px);
        }

        @include desktop {
            // height: calc(100vh - 86.59px);
        }
    }

    &__title {
        text-transform: uppercase;
        text-align: center;
        margin: 1rem 1rem 3rem 1rem;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        @include contain;

        @include tablet {
            max-width: 40rem;
        }
    }

    &__arrow {
        height: 1.25rem;
        width: 1.25rem;
        cursor: pointer;

        @include tablet {
            height: 2.25rem;
            width: 2.25rem;
        }
    }

    &__arrow:hover {
        transform: scale(1.15);

    }

    &__arrow--left {
        @include tablet {
            margin-right: 2rem;
        }
    }

    &__arrow--right {
        @include tablet {
            margin-left: 2rem;
        }
    }

    &__link {
        text-decoration: none;
        border: 1px solid #fff;
        color: $primary-text;
    }

    &__link:hover {
        border: 1px solid $primary-bg;
        border-radius: 5px;
        box-shadow: 0 0 0 2px $primary-bg;
        cursor: pointer;
    }

    &__card {
        border: 1px solid $primary-text;
        border-radius: 3px;
        height: 20rem;

        @include tablet {
            height: 22rem;
            width: 30rem;
        }

        @include desktop {
            height: 27rem;
            width: 40rem;
        }
    }


    &__subtitle {
        margin: 0;
        background-color: $primary-bg;
        color: #fff;
        padding: 0.75rem;
        // text-decoration: underline;
        // text-decoration-color: pink;
        // text-decoration-thickness: 3px;

        @include tablet {
            padding: 1.25rem;
        }

        @include desktop {
            padding: 1.75rem;
        }
    }

    &__description {
        min-height: 44%;
        padding: 0rem 0.75rem;
        line-height: 125%;

        @include tablet {
            min-height: 33%;
        }

        @include desktop {
            min-height: 38%;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem;
        height: 7rem;

        @include tablet {
            padding: 1.25rem;
            height: 9.5rem;
        }

        @include desktop {
            padding: 1.75rem;
            padding-top: 0;
            height: 9.75rem;
        }
    }

    &__tech {
        width: 50%;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        list-style: none;
    }

    &__item {
        width: 50%;
        text-align: center;
        font-size: 0.75rem;

        @include tablet {
            font-size: 1rem;
        }

        @include desktop {
            font-size: 1.25rem;
        }
    }

    &__icons {
        display: flex;
        justify-content: space-evenly;
    }

    &__icon {
        height: 1.25rem;
        width: 1.25rem;

        @include tablet {
            height: 2rem;
            width: 2rem;
        }

        @include desktop {
            height: 2.5rem;
            width: 2.5rem;
        }
    }

    &__img {

        height: 5.5rem;
        width: 5.5rem;
        border: 1px solid $primary-text;
        border-radius: 3px;

        @include tablet {
            height: 7rem;
            width: 7rem;
        }

        @include desktop {
            height: 8rem;
            width: 8rem;
        }
    }


}