@use "../../styles/partials/mixins" as *;

.profile {
    padding-top: 5rem;
    height: 100vh;

    @include desktop {
        padding-top: 5rem;
    }

    &__hello {
        padding: 1.25rem 1rem;
        @include contain;

        @include tablet {
            padding: 1.75rem 2rem;
        }
    }


    &__bio {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        font-size: 1.25rem;
        @include contain;

        @include tablet {
            font-size: 1.75rem;
            padding: 0rem 2rem;
        }

        @include desktop {
            font-size: 2.25rem;
        }
    }

    &__text {
        display: block;
        text-align: center;
        padding: 0 1rem;

        @include contain;

        @include tablet {
            font-size: 1.25rem;
            padding: 0rem 2rem;
            line-height: 140%;
        }

        @include desktop {
            font-size: 1.75rem;
        }
    }

    &__text--top {
        @include tablet {
            line-height: 130%;
        }

    }

    &__bold {
        font-weight: 700;
    }

    &__img {
        background-image: url('../../assets/images/rebecca.png');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 18rem;
        max-height: 19rem;
        width: 100vw;
        margin: 1.25rem 0;
        border-top: 3px solid pink;
        border-bottom: 3px solid pink;

        @include tablet {
            margin: 1.75rem 0;
            background-position: top;
        }

        @include desktop {
            margin: 2.25rem 0;
        }
    }
}