@use "breakpoints" as *;
@use "colors" as *;

//media query mixins
@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin contain {
    @media (min-width: $breakpoint-mobile) {
        max-width: 30rem;
        margin: 0 auto;
    }

    @media (min-width: $breakpoint-tablet) {
        max-width: 50rem;
        margin: 0 auto;
    }

    @media (min-width: $breakpoint-desktop) {
        max-width: 63.75rem;
        margin: 0 auto;
    }
}